In [1]:
import pandas as pd
import pickle
import weighted_sentiment_functions_final as wsff
import stock_price_calculation_trials as spct

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
all_data = pd.read_csv('sample_data.csv', sep='.@', header=None, names=['DELETE', 'CIK', 'TICKER', 'DATE', 'TEXT'], dtype={'CIK': object}, engine='python', parse_dates=[3], infer_datetime_format=True, encoding='utf-8')

In [3]:
all_data

,DELETE,CIK,TICKER,DATE,TEXT
0,NaN,0000002488,AMD,2020-02-04,2019 marked a milestone in our multi-year jour...
1,NaN,0000002488,AMD,2019-02-08,Our 2018 financial results demonstrate the su...
2,NaN,0001091667,CHTR,2019-01-31,We are the second largest cable operator in t...
3,NaN,0001467858,GM,2010-04-07,Over time as Old GM’s market share declined i...

In [4]:
all_data.iloc[0]['DATE']

Timestamp('2020-02-04 00:00:00')

In [57]:
new_all_data = all_data.drop(['DELETE'], axis=1)
new_all_data2 = new_all_data.drop(0, axis=0)

In [58]:
new_all_data2

,CIK,TICKER,DATE,TEXT
1,0000002488,AMD,2019-02-08,Our 2018 financial results demonstrate the su...
2,0001091667,CHTR,2019-01-31,We are the second largest cable operator in t...
3,0001467858,GM,2010-04-07,Over time as Old GM’s market share declined i...

In [6]:
new_all_data.head()

,CIK,TICKER,DATE,TEXT
0,0000002488,AMD,2020-02-04,2019 marked a milestone in our multi-year jour...
1,0000002488,AMD,2019-02-08,Our 2018 financial results demonstrate the su...
2,0001091667,CHTR,2019-01-31,We are the second largest cable operator in t...
3,0001467858,GM,2010-04-07,Over time as Old GM’s market share declined i...

In [7]:
new_all_data['TEXT']

0    2019 marked a milestone in our multi-year jour...
1     Our 2018 financial results demonstrate the su...
2     We are the second largest cable operator in t...
3     Over time as Old GM’s market share declined i...
Name: TEXT, dtype: object

In [8]:
# # Comment/Uncomment following 4 lines to retrain the classifier
# trained_model = wsff.train_classifier(classifier_model='Random_Forst')
# # save the model to disk
# filename = 'finalised_classifier_model.sav'
# pickle.dump(trained_model, open(filename, 'wb'))

# load the model from disk
filename = 'finalised_classifier_model.sav'
model = pickle.load(open(filename, 'rb'))

In [9]:
weighted_sentiments = []
for i, row in new_all_data.iterrows():
    weighted_sentiment = wsff.get_weighted_sentiment(row['TEXT'], model, clustering_model='Agglomerative')
    weighted_sentiments.append(weighted_sentiment)

In [10]:
print(weighted_sentiments)

[0.80000000000000004, 0.80000000000000004, 0.90000000000000002, 0.80000000000000004]

In [11]:
unweighted_sentiments = []
for i, row in new_all_data.iterrows():
    unweighted_sentiment = wsff.get_unweighted_sentiment(row['TEXT'], model, clustering_model='Agglomerative')
    unweighted_sentiments.append(unweighted_sentiment)
print(unweighted_sentiments)

[1.0, 1.0, 1.0, 1.0]

In [ ]:
# This cell block is for trying a few functions that didn't work, can be ignored.
# weighted_sentiments2 = []
# for i, row in new_all_data.iterrows():
#     weighted_sentiment2 = wsff.trial_weighted_sentiment(row['TEXT'], model, clustering_model='Agglomerative')
#     weighted_sentiments2.append(weighted_sentiment2)
# # print(weighted_sentiments2)
# # new_all_data['weighted_sentiments'] = weighted_sentiments

# unweighted_sentiments2 = []
# for i, row in new_all_data.iterrows():
#     unweighted_sentiment2 = wsff.trial_unweighted_sentiment(row['TEXT'], model, clustering_model='Agglomerative')
#     unweighted_sentiments2.append(unweighted_sentiment2)
# print(unweighted_sentiments2)
# # new_all_data['unweighted_sentiments'] = unweighted_sentiments

In [86]:
from datetime import datetime
spct.get_stock_adj_close('AMD' , datetime(2006,5,30))

30.479999542236328

In [13]:
spct.add_days(datetime(2010,10,7),1)

datetime.datetime(2010, 4, 8, 0, 0)

In [40]:
stock_prices = []
stock_prices_next_year = []

    
for i, row in new_all_data.iterrows():
    given_date = row['DATE']
    while True:
        try:
            stock_price = spct.get_stock_adj_close(row['TICKER'], given_date)
            break
        except KeyError:
            given_date = spct.add_days(given_date,1)
    stock_prices.append(stock_price)
    
print(stock_prices)

[49.450000762939453, 23.049999237060547, 331.04998779296875, 26.155519485473633]

In [61]:
def get_current_stock_price(ticker, date):
    given_date = date
    while True:
        try:
            stock_price = spct.get_stock_adj_close(ticker, given_date)
            break
        except KeyError:
            given_date = spct.add_days(given_date,1)
            print(ticker, given_date)
    return stock_price

stock_prices2 = []


    
for i, row in new_all_data2.iterrows():
    stock_price = get_current_stock_price(row['TICKER'], row['DATE'])
    stock_prices2.append(stock_price)
    
print(stock_prices2)

GM 2010-04-08 00:00:00
GM 2010-04-09 00:00:00
GM 2010-04-10 00:00:00
GM 2010-04-11 00:00:00
GM 2010-04-12 00:00:00
GM 2010-04-13 00:00:00
GM 2010-04-14 00:00:00
GM 2010-04-15 00:00:00
GM 2010-04-16 00:00:00
GM 2010-04-17 00:00:00
GM 2010-04-18 00:00:00
GM 2010-04-19 00:00:00
GM 2010-04-20 00:00:00
GM 2010-04-21 00:00:00
GM 2010-04-22 00:00:00
GM 2010-04-23 00:00:00
GM 2010-04-24 00:00:00
GM 2010-04-25 00:00:00
GM 2010-04-26 00:00:00
GM 2010-04-27 00:00:00
GM 2010-04-28 00:00:00
GM 2010-04-29 00:00:00
GM 2010-04-30 00:00:00
GM 2010-05-01 00:00:00
GM 2010-05-02 00:00:00
GM 2010-05-03 00:00:00
GM 2010-05-04 00:00:00
GM 2010-05-05 00:00:00
GM 2010-05-06 00:00:00
GM 2010-05-07 00:00:00
GM 2010-05-08 00:00:00
GM 2010-05-09 00:00:00
GM 2010-05-10 00:00:00
GM 2010-05-11 00:00:00
GM 2010-05-12 00:00:00
GM 2010-05-13 00:00:00
GM 2010-05-14 00:00:00
GM 2010-05-15 00:00:00
GM 2010-05-16 00:00:00
GM 2010-05-17 00:00:00
GM 2010-05-18 00:00:00
GM 2010-05-19 00:00:00
GM 2010-05-20 00:00:00
GM 2010-05-21 00:00:00
GM 2010-05-22 00:00:00
GM 2010-05-23 00:00:00
GM 2010-05-24 00:00:00
GM 2010-05-25 00:00:00
GM 2010-05-26 00:00:00
GM 2010-05-27 00:00:00
GM 2010-05-28 00:00:00
GM 2010-05-29 00:00:00
GM 2010-05-30 00:00:00
GM 2010-05-31 00:00:00
GM 2010-06-01 00:00:00
GM 2010-06-02 00:00:00
GM 2010-06-03 00:00:00
GM 2010-06-04 00:00:00
GM 2010-06-05 00:00:00
GM 2010-06-06 00:00:00
GM 2010-06-07 00:00:00
GM 2010-06-08 00:00:00
GM 2010-06-09 00:00:00
GM 2010-06-10 00:00:00
GM 2010-06-11 00:00:00
GM 2010-06-12 00:00:00
GM 2010-06-13 00:00:00
GM 2010-06-14 00:00:00
GM 2010-06-15 00:00:00
GM 2010-06-16 00:00:00
GM 2010-06-17 00:00:00
GM 2010-06-18 00:00:00
GM 2010-06-19 00:00:00
GM 2010-06-20 00:00:00
GM 2010-06-21 00:00:00
GM 2010-06-22 00:00:00
GM 2010-06-23 00:00:00
GM 2010-06-24 00:00:00
GM 2010-06-25 00:00:00
GM 2010-06-26 00:00:00
GM 2010-06-27 00:00:00
GM 2010-06-28 00:00:00
GM 2010-06-29 00:00:00
GM 2010-06-30 00:00:00
GM 2010-07-01 00:00:00
GM 2010-07-02 00:00:00
GM 2010-07-03 00:00:00
GM 2010-07-04 00:00:00
GM 2010-07-05 00:00:00
GM 2010-07-06 00:00:00
GM 2010-07-07 00:00:00
GM 2010-07-08 00:00:00
GM 2010-07-09 00:00:00
GM 2010-07-10 00:00:00
GM 2010-07-11 00:00:00
GM 2010-07-12 00:00:00
GM 2010-07-13 00:00:00
GM 2010-07-14 00:00:00
GM 2010-07-15 00:00:00
GM 2010-07-16 00:00:00
GM 2010-07-17 00:00:00
GM 2010-07-18 00:00:00
GM 2010-07-19 00:00:00
GM 2010-07-20 00:00:00
GM 2010-07-21 00:00:00
GM 2010-07-22 00:00:00
GM 2010-07-23 00:00:00
GM 2010-07-24 00:00:00
GM 2010-07-25 00:00:00
GM 2010-07-26 00:00:00
GM 2010-07-27 00:00:00
GM 2010-07-28 00:00:00
GM 2010-07-29 00:00:00
GM 2010-07-30 00:00:00
GM 2010-07-31 00:00:00
GM 2010-08-01 00:00:00
GM 2010-08-02 00:00:00
GM 2010-08-03 00:00:00
GM 2010-08-04 00:00:00
GM 2010-08-05 00:00:00
GM 2010-08-06 00:00:00
GM 2010-08-07 00:00:00
GM 2010-08-08 00:00:00
GM 2010-08-09 00:00:00
GM 2010-08-10 00:00:00
GM 2010-08-11 00:00:00
GM 2010-08-12 00:00:00
GM 2010-08-13 00:00:00
GM 2010-08-14 00:00:00
GM 2010-08-15 00:00:00
GM 2010-08-16 00:00:00
GM 2010-08-17 00:00:00
GM 2010-08-18 00:00:00
GM 2010-08-19 00:00:00
GM 2010-08-20 00:00:00
GM 2010-08-21 00:00:00
GM 2010-08-22 00:00:00
GM 2010-08-23 00:00:00
GM 2010-08-24 00:00:00
GM 2010-08-25 00:00:00
GM 2010-08-26 00:00:00
GM 2010-08-27 00:00:00
GM 2010-08-28 00:00:00
GM 2010-08-29 00:00:00
GM 2010-08-30 00:00:00
GM 2010-08-31 00:00:00
GM 2010-09-01 00:00:00
GM 2010-09-02 00:00:00
GM 2010-09-03 00:00:00
GM 2010-09-04 00:00:00
GM 2010-09-05 00:00:00
GM 2010-09-06 00:00:00
GM 2010-09-07 00:00:00
GM 2010-09-08 00:00:00
GM 2010-09-09 00:00:00
GM 2010-09-10 00:00:00
GM 2010-09-11 00:00:00
GM 2010-09-12 00:00:00
GM 2010-09-13 00:00:00
GM 2010-09-14 00:00:00
GM 2010-09-15 00:00:00
GM 2010-09-16 00:00:00
GM 2010-09-17 00:00:00
GM 2010-09-18 00:00:00
GM 2010-09-19 00:00:00
GM 2010-09-20 00:00:00
GM 2010-09-21 00:00:00
GM 2010-09-22 00:00:00
GM 2010-09-23 00:00:00
GM 2010-09-24 00:00:00
GM 2010-09-25 00:00:00
GM 2010-09-26 00:00:00
GM 2010-09-27 00:00:00
GM 2010-09-28 00:00:00
GM 2010-09-29 00:00:00
GM 2010-09-30 00:00:00
GM 2010-10-01 00:00:00
GM 2010-10-02 00:00:00
GM 2010-10-03 00:00:00
GM 2010-10-04 00:00:00
GM 2010-10-05 00:00:00
GM 2010-10-06 00:00:00
GM 2010-10-07 00:00:00
GM 2010-10-08 00:00:00
GM 2010-10-09 00:00:00
GM 2010-10-10 00:00:00
GM 2010-10-11 00:00:00
GM 2010-10-12 00:00:00
GM 2010-10-13 00:00:00
GM 2010-10-14 00:00:00
GM 2010-10-15 00:00:00
GM 2010-10-16 00:00:00
GM 2010-10-17 00:00:00
GM 2010-10-18 00:00:00
GM 2010-10-19 00:00:00
GM 2010-10-20 00:00:00
GM 2010-10-21 00:00:00
GM 2010-10-22 00:00:00
GM 2010-10-23 00:00:00
GM 2010-10-24 00:00:00
GM 2010-10-25 00:00:00
GM 2010-10-26 00:00:00
GM 2010-10-27 00:00:00
GM 2010-10-28 00:00:00
GM 2010-10-29 00:00:00
GM 2010-10-30 00:00:00
GM 2010-10-31 00:00:00
GM 2010-11-01 00:00:00
GM 2010-11-02 00:00:00
GM 2010-11-03 00:00:00
GM 2010-11-04 00:00:00
GM 2010-11-05 00:00:00
GM 2010-11-06 00:00:00
GM 2010-11-07 00:00:00
GM 2010-11-08 00:00:00
GM 2010-11-09 00:00:00
GM 2010-11-10 00:00:00
GM 2010-11-11 00:00:00
GM 2010-11-12 00:00:00
GM 2010-11-13 00:00:00
GM 2010-11-14 00:00:00
GM 2010-11-15 00:00:00
GM 2010-11-16 00:00:00
GM 2010-11-17 00:00:00
GM 2010-11-18 00:00:00
[23.049999237060547, 331.04998779296875, 26.155519485473633]

In [59]:
stock_prices_next_year2 = []
stock_prices_three_months2 = []

for i, row in new_all_data2.iterrows():
    date_one_year = spct.add_years(row['DATE'], 1)
    stock_price = get_current_stock_price(row['TICKER'], date_one_year)
    stock_prices_next_year2.append(stock_price)
    
for i, row in new_all_data2.iterrows():
    date_three_months = spct.add_months(row['DATE'], 3)
    stock_price = get_current_stock_price(row['TICKER'], date_three_months)
    stock_prices_three_months2.append(stock_price)

AMD 2020-02-09 00:00:00
AMD 2020-02-10 00:00:00
CHTR 2020-02-01 00:00:00
CHTR 2020-02-02 00:00:00
CHTR 2020-02-03 00:00:00
CHTR 2020-02-04 00:00:00
GM 2010-07-08 00:00:00
GM 2010-07-09 00:00:00
GM 2010-07-10 00:00:00
GM 2010-07-11 00:00:00
GM 2010-07-12 00:00:00
GM 2010-07-13 00:00:00
GM 2010-07-14 00:00:00
GM 2010-07-15 00:00:00
GM 2010-07-16 00:00:00
GM 2010-07-17 00:00:00
GM 2010-07-18 00:00:00
GM 2010-07-19 00:00:00
GM 2010-07-20 00:00:00
GM 2010-07-21 00:00:00
GM 2010-07-22 00:00:00
GM 2010-07-23 00:00:00
GM 2010-07-24 00:00:00
GM 2010-07-25 00:00:00
GM 2010-07-26 00:00:00
GM 2010-07-27 00:00:00
GM 2010-07-28 00:00:00
GM 2010-07-29 00:00:00
GM 2010-07-30 00:00:00
GM 2010-07-31 00:00:00
GM 2010-08-01 00:00:00
GM 2010-08-02 00:00:00
GM 2010-08-03 00:00:00
GM 2010-08-04 00:00:00
GM 2010-08-05 00:00:00
GM 2010-08-06 00:00:00
GM 2010-08-07 00:00:00
GM 2010-08-08 00:00:00
GM 2010-08-09 00:00:00
GM 2010-08-10 00:00:00
GM 2010-08-11 00:00:00
GM 2010-08-12 00:00:00
GM 2010-08-13 00:00:00
GM 2010-08-14 00:00:00
GM 2010-08-15 00:00:00
GM 2010-08-16 00:00:00
GM 2010-08-17 00:00:00
GM 2010-08-18 00:00:00
GM 2010-08-19 00:00:00
GM 2010-08-20 00:00:00
GM 2010-08-21 00:00:00
GM 2010-08-22 00:00:00
GM 2010-08-23 00:00:00
GM 2010-08-24 00:00:00
GM 2010-08-25 00:00:00
GM 2010-08-26 00:00:00
GM 2010-08-27 00:00:00
GM 2010-08-28 00:00:00
GM 2010-08-29 00:00:00
GM 2010-08-30 00:00:00
GM 2010-08-31 00:00:00
GM 2010-09-01 00:00:00
GM 2010-09-02 00:00:00
GM 2010-09-03 00:00:00
GM 2010-09-04 00:00:00
GM 2010-09-05 00:00:00
GM 2010-09-06 00:00:00
GM 2010-09-07 00:00:00
GM 2010-09-08 00:00:00
GM 2010-09-09 00:00:00
GM 2010-09-10 00:00:00
GM 2010-09-11 00:00:00
GM 2010-09-12 00:00:00
GM 2010-09-13 00:00:00
GM 2010-09-14 00:00:00
GM 2010-09-15 00:00:00
GM 2010-09-16 00:00:00
GM 2010-09-17 00:00:00
GM 2010-09-18 00:00:00
GM 2010-09-19 00:00:00
GM 2010-09-20 00:00:00
GM 2010-09-21 00:00:00
GM 2010-09-22 00:00:00
GM 2010-09-23 00:00:00
GM 2010-09-24 00:00:00
GM 2010-09-25 00:00:00
GM 2010-09-26 00:00:00
GM 2010-09-27 00:00:00
GM 2010-09-28 00:00:00
GM 2010-09-29 00:00:00
GM 2010-09-30 00:00:00
GM 2010-10-01 00:00:00
GM 2010-10-02 00:00:00
GM 2010-10-03 00:00:00
GM 2010-10-04 00:00:00
GM 2010-10-05 00:00:00
GM 2010-10-06 00:00:00
GM 2010-10-07 00:00:00
GM 2010-10-08 00:00:00
GM 2010-10-09 00:00:00
GM 2010-10-10 00:00:00
GM 2010-10-11 00:00:00
GM 2010-10-12 00:00:00
GM 2010-10-13 00:00:00
GM 2010-10-14 00:00:00
GM 2010-10-15 00:00:00
GM 2010-10-16 00:00:00
GM 2010-10-17 00:00:00
GM 2010-10-18 00:00:00
GM 2010-10-19 00:00:00
GM 2010-10-20 00:00:00
GM 2010-10-21 00:00:00
GM 2010-10-22 00:00:00
GM 2010-10-23 00:00:00
GM 2010-10-24 00:00:00
GM 2010-10-25 00:00:00
GM 2010-10-26 00:00:00
GM 2010-10-27 00:00:00
GM 2010-10-28 00:00:00
GM 2010-10-29 00:00:00
GM 2010-10-30 00:00:00
GM 2010-10-31 00:00:00
GM 2010-11-01 00:00:00
GM 2010-11-02 00:00:00
GM 2010-11-03 00:00:00
GM 2010-11-04 00:00:00
GM 2010-11-05 00:00:00
GM 2010-11-06 00:00:00
GM 2010-11-07 00:00:00
GM 2010-11-08 00:00:00
GM 2010-11-09 00:00:00
GM 2010-11-10 00:00:00
GM 2010-11-11 00:00:00
GM 2010-11-12 00:00:00
GM 2010-11-13 00:00:00
GM 2010-11-14 00:00:00
GM 2010-11-15 00:00:00
GM 2010-11-16 00:00:00
GM 2010-11-17 00:00:00
GM 2010-11-18 00:00:00

In [60]:
print(stock_prices_next_year2)
print(stock_prices_three_months2)

[52.259998321533203, 531.75, 24.717306137084961]
[27.090000152587891, 371.19000244140625, 26.155519485473633]

In [62]:
percent_changes_one_year = []
percent_changes_three_months = []

for old, new in zip(stock_prices2, stock_prices_next_year2):
    change = spct.percent_change(old,new)
    percent_changes_one_year.append(change)
    
for old, new in zip(stock_prices2, stock_prices_three_months2):
    change = spct.percent_change(old,new)
    percent_changes_three_months.append(change)
    
print(percent_changes_one_year)
print(percent_changes_three_months)

[126.72451215316249, 60.625289112695732, -5.4986992293822849]
[17.527119519516933, 12.125061509907129, 0.0]

In [65]:
def get_current_stock_price_date(ticker, date):
    given_date = date
    while True:
        try:
            stock_price = spct.get_stock_adj_close(ticker, given_date)
            break
        except KeyError:
            given_date = spct.add_days(given_date,1)
#             print(ticker, given_date)
    return given_date, stock_price

stock_prices3 = []
given_dates3 = []


    
for i, row in new_all_data2.iterrows():
    given_date, stock_price = get_current_stock_price_date(row['TICKER'], row['DATE'])
    stock_prices3.append(stock_price)
    given_dates3.append(given_date)
    
print(stock_prices3)
print(given_dates3)

[23.049999237060547, 331.04998779296875, 26.155519485473633]
[Timestamp('2019-02-08 00:00:00'), Timestamp('2019-01-31 00:00:00'), Timestamp('2010-11-18 00:00:00')]

In [76]:
new_all_data3 = new_all_data2.reset_index(drop=True)

In [77]:
new_all_data3

,CIK,TICKER,DATE,TEXT
0,0000002488,AMD,2019-02-08,Our 2018 financial results demonstrate the su...
1,0001091667,CHTR,2019-01-31,We are the second largest cable operator in t...
2,0001467858,GM,2010-04-07,Over time as Old GM’s market share declined i...

In [78]:
stock_prices_next_year3 = []
stock_prices_three_months3 = []
given_dates_next_year = []
given_dates_three_months = []

for i, row in new_all_data3.iterrows():
    date_one_year = spct.add_years(given_dates3[i], 1)
    given_date, stock_price = get_current_stock_price_date(row['TICKER'], date_one_year)
    stock_prices_next_year3.append(stock_price)
    given_dates_next_year.append(given_date)
    
for i, row in new_all_data3.iterrows():
    date_three_months = spct.add_months(given_dates3[i], 3)
    given_date, stock_price = get_current_stock_price_date(row['TICKER'], date_three_months)
    stock_prices_three_months3.append(stock_price)
    given_dates_three_months.append(given_date)

print(stock_prices_next_year3)
print(given_dates_next_year)
print(stock_prices_three_months3)
print(given_dates_three_months)

[52.259998321533203, 517.46002197265625, 16.585308074951172]
[Timestamp('2020-02-10 00:00:00'), Timestamp('2020-01-31 00:00:00'), Timestamp('2011-11-18 00:00:00')]
[27.090000152587891, 371.19000244140625, 27.930322647094727]
[Timestamp('2019-05-08 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2011-02-18 00:00:00')]

In [79]:
percent_changes_one_year2 = []
percent_changes_three_months2 = []

for old, new in zip(stock_prices3, stock_prices_next_year3):
    change = spct.percent_change(old,new)
    percent_changes_one_year2.append(change)
    
for old, new in zip(stock_prices3, stock_prices_three_months3):
    change = spct.percent_change(old,new)
    percent_changes_three_months2.append(change)
    
print(percent_changes_one_year2)
print(percent_changes_three_months2)

[126.72451215316249, 56.308727096605168, -36.589643787566928]
[17.527119519516933, 12.125061509907129, 6.7855779450558877]

In [41]:
# stock_prices = []
# stock_prices_next_year = []

    
# for i, row in new_all_data.iterrows():
#     time = row['DATE']
#     try:
#         stock_price = spct.get_stock_adj_close(row['TICKER'], time)
#         print(stock_price)
#         stock_prices.append(stock_price)
#     except KeyError:
#         stock_prices.append('unavailable')
# #     print(row['DATE'])
    
# print(stock_prices)

In [42]:
# new_all_data

In [43]:
# d = {'TICKER': ['AMD','AMD','CHTR','GM', 'GM'], 'DATE': [datetime(2020,2,4), datetime(2019,2,8),datetime(2019,1,31), datetime(2010,4,7), datetime(2011,12,5)]}
# dummy_dataframe = pd.DataFrame(data=d)

# dummy_dataframe

In [44]:
# from datetime import datetime, date, timedelta
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import pandas_datareader as pdr
# from dateutil.relativedelta import relativedelta

# def add_days(d, num_days):
#     return d + timedelta(days=num_days)
# def get_stock_adj_close(ticker, chosen_date):
#     stock_df = pdr.get_data_yahoo(ticker, start = chosen_date, end = chosen_date)
#     return stock_df.iloc[0]['Adj Close']

# d = {'TICKER': ['AMD','AMD','CHTR','GM', 'GM'], 'DATE': [datetime(2020,2,4), datetime(2019,2,8),datetime(2019,1,31), datetime(2010,4,7), datetime(2011,12,5)]}
# dummy_dataframe = pd.DataFrame(data=d)

# stock_prices = []

# for i, row in dummy_dataframe.iterrows():
#     given_date = row['DATE']
#     while True:
#         try:
#             stock_price = get_stock_adj_close(row['TICKER'], given_date)
#             break
#         except KeyError:
#             given_date = add_days(given_date,1)  
# #             print(given_date)
# #     print(stock_price)
#     stock_prices.append(stock_price)
    
# # print(stock_prices)

In [45]:
# print(stock_prices)

In [46]:
# from datetime import datetime, date, timedelta
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import pandas_datareader as pdr
# from dateutil.relativedelta import relativedelta

# def add_days(d, num_days):
#     return d + timedelta(days=num_days)
# def get_stock_adj_close(ticker, chosen_date):
#     stock_df = pdr.get_data_yahoo(ticker, start = chosen_date, end = chosen_date)
#     return stock_df.iloc[0]['Adj Close']

# d = {'TICKER': ['AMD','AMD','CHTR','GM', 'GM'], 'DATE': [datetime(2020,2,4), datetime(2019,2,8),datetime(2019,1,31), datetime(2010,4,7), datetime(2011,12,5)]}
# dummy_dataframe = pd.DataFrame(data=d)

# stock_prices2 = []

# for i, row in dummy_dataframe.iterrows():
#     given_date = row['DATE']
#     while True:
#         try:
#             stock_price = get_stock_adj_close(row['TICKER'], given_date)
#         except KeyError:
#             given_date = add_days(given_date,1)  
#             print(given_date)
#             continue
#         break
#     print(stock_price)
#     stock_prices2.append(stock_price)
    
# # print(stock_prices)

In [47]:
# print(stock_prices2)

In [48]:
# def add_days(d, num_days):
#     return d + timedelta(days=num_days)
# def get_stock_adj_close(ticker, chosen_date):
#     stock_df = pdr.get_data_yahoo(ticker, start = chosen_date, end = chosen_date)
#     return stock_df.iloc[0]['Adj Close']

In [49]:
# add_days(datetime(2010,4,7),1)

In [50]:
# stock_prices = []


    
# for i, row in dummy_dataframe.iterrows():
#     given_date = row['DATE']
#     try:
#         stock_price = get_stock_adj_close(row['TICKER'], given_date)
#         print(stock_price)
#         stock_prices.append(stock_price)
#     except KeyError:
#         time = add_days(time,1)
#         stock_price = get_stock_adj_close(row['TICKER'], given_date)
#         stock_prices.append(stock_price)
    
# print(stock_prices)

In [51]:
# for i, row in dummy_dataframe.iterrows():
#     given_date = row['DATE']
#     while True:
#         try:
#             stock_price = get_stock_adj_close(row['TICKER'], given_date)
#             break
#         except KeyError:
#             given_date = add_days(given_date,1)
#     print(stock_price)
#     stock_prices.append(stock_price)

In [52]:
# for i, row in dummy_dataframe.iterrows():
#     given_date = row['DATE']
#     while True:
#         try:
#             stock_price = get_stock_adj_close(row['TICKER'], given_date)
#         except KeyError:
#             given_date = add_days(given_date, 1)
#             continue
#         break
#     print(stock_price)
#     stock_prices.append(stock_price)